.row {
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.col, .col-2, .col-3 {
    color: white;
    flex: 1;
    background-color: rgb(21, 207, 207);
    padding: 10px;
    margin: 5px;
}

.col-2 {
    flex: 2;
}

.col-3 {
    flex: 3;
}