* {
    margin: 0;
    padding: 0;
}

.box {
    width: 250px;
    height: 50px;
    border: 2px solid black;
}

#container {
    height: 600px;
    border: 2px solid black;
    /* align-items: center; */
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    flex-direction: column;

}